
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bank Management Dashboard</title>

  <style>
  .space
  {
     margin-bottom: 340px;
  }
  </style>
</head>
<body>
       
	<div th:insert="~{@{reusable-code/navbar}}"></div>
    <div class="space"></div>
   <footer>
	<div th:insert="~{@{reusable-code/footer2}}"></div>
	<div th:insert="~{@{reusable-code/footer1}}"></div>
   </footer>
  
</body>
</html>